---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic NTk0MzpzRTJ3VnFrb2lHa0hBOEVYYkw5OTFKS0x6eENRTTMyTnNjRVFoWmFYc1hvY2Q1eGJPZA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"54fcee3a8aee4172b625fb59e3daa42e","token_type":"bearer","expires_in":1199}'
  recorded_at: Tue, 21 Apr 2020 08:11:44 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/users/natural
    body:
      encoding: UTF-8
      string: '{"Email":"carol@hegmannstamm.info","FirstName":"Noah","LastName":"Dubois","Nationality":"FR","CountryOfResidence":"FR","Birthday":879807600}'
    headers:
      Authorization:
      - bearer 54fcee3a8aee4172b625fb59e3daa42e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '131'
      - '2'
      - '4'
      - '4'
      X-Ratelimit-Remaining:
      - '105469'
      - '2298'
      - '4496'
      - '8796'
      X-Ratelimit-Reset:
      - '1587457560'
      - '1587458460'
      - '1587460260'
      - '1587543000'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Noah","LastName":"Dubois","Birthday":879807600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"carol@hegmannstamm.info","KYCLevel":"LIGHT","Id":"79091055","Tag":null,"CreationDate":1587456705}'
  recorded_at: Tue, 21 Apr 2020 08:11:45 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Hubert et Dumont","Owners":["79091055"]}'
    headers:
      Authorization:
      - bearer 54fcee3a8aee4172b625fb59e3daa42e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '132'
      - '3'
      - '5'
      - '5'
      X-Ratelimit-Remaining:
      - '105468'
      - '2297'
      - '4495'
      - '8795'
      X-Ratelimit-Reset:
      - '1587457560'
      - '1587458460'
      - '1587460260'
      - '1587543000'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Hubert et Dumont","Owners":["79091055"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79091056","Tag":null,"CreationDate":1587456705}'
  recorded_at: Tue, 21 Apr 2020 08:11:45 GMT
recorded_with: VCR 5.1.0
