---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic NTk0MzpzRTJ3VnFrb2lHa0hBOEVYYkw5OTFKS0x6eENRTTMyTnNjRVFoWmFYc1hvY2Q1eGJPZA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"abc4aeea7ebe4740a02f3c880f4faf23","token_type":"bearer","expires_in":1199}'
  recorded_at: Mon, 20 Apr 2020 14:23:11 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/users/natural
    body:
      encoding: UTF-8
      string: '{"Email":"molly.sipes@gutmannbernier.net","FirstName":"Pierre","LastName":"Breton","Nationality":"FR","CountryOfResidence":"FR","Birthday":487634400}'
    headers:
      Authorization:
      - bearer abc4aeea7ebe4740a02f3c880f4faf23
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1'
      - '1'
      - '3'
      - '51'
      X-Ratelimit-Remaining:
      - '105549'
      - '2299'
      - '4499'
      - '8797'
      X-Ratelimit-Reset:
      - '1587393480'
      - '1587394380'
      - '1587396180'
      - '1587478920'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Pierre","LastName":"Breton","Birthday":487634400,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"molly.sipes@gutmannbernier.net","KYCLevel":"LIGHT","Id":"79059847","Tag":null,"CreationDate":1587392592}'
  recorded_at: Mon, 20 Apr 2020 14:23:12 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Bonnet SA","Owners":["79059847"]}'
    headers:
      Authorization:
      - bearer abc4aeea7ebe4740a02f3c880f4faf23
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '2'
      - '2'
      - '4'
      - '52'
      X-Ratelimit-Remaining:
      - '105548'
      - '2298'
      - '4498'
      - '8796'
      X-Ratelimit-Reset:
      - '1587393480'
      - '1587394380'
      - '1587396180'
      - '1587478920'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Bonnet SA","Owners":["79059847"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79059849","Tag":null,"CreationDate":1587392593}'
  recorded_at: Mon, 20 Apr 2020 14:23:13 GMT
recorded_with: VCR 5.1.0
