---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/users/natural
    body:
      encoding: UTF-8
      string: '{"Email":"marsha@macgyver.biz","FirstName":"Rayan","LastName":"Moulin","Nationality":"FR","CountryOfResidence":"FR","Birthday":1299970800}'
    headers:
      Authorization:
      - bearer d335fec7316d4efb99902d8a38fb4c0a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '142'
      - '16'
      - '3'
      - '3'
      X-Ratelimit-Remaining:
      - '105458'
      - '2297'
      - '4497'
      - '8784'
      X-Ratelimit-Reset:
      - '1587460200'
      - '1587461100'
      - '1587462900'
      - '1587545640'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Rayan","LastName":"Moulin","Birthday":1299970800,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"marsha@macgyver.biz","KYCLevel":"LIGHT","Id":"79093666","Tag":null,"CreationDate":1587459354}'
  recorded_at: Tue, 21 Apr 2020 08:55:54 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Breton et Dupont","Owners":["79093668"]}'
    headers:
      Authorization:
      - bearer d335fec7316d4efb99902d8a38fb4c0a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '144'
      - '18'
      - '5'
      - '5'
      X-Ratelimit-Remaining:
      - '105456'
      - '2295'
      - '4495'
      - '8782'
      X-Ratelimit-Reset:
      - '1587460200'
      - '1587461100'
      - '1587462900'
      - '1587545640'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Breton et Dupont","Owners":["79093668"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79093669","Tag":null,"CreationDate":1587459356}'
  recorded_at: Tue, 21 Apr 2020 08:55:56 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"79093666","CreditedWalletId":"79093669","CardType":"CB_VISA_MASTERCARD","Culture":"FR","DebitedFunds":{"Currency":"EUR","Amount":6528770000},"Fees":{"Currency":"EUR","Amount":0},"ReturnURL":"http://localhost:3000/projects/1546/contributions/1283/validate"}'
    headers:
      Authorization:
      - bearer d335fec7316d4efb99902d8a38fb4c0a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '145'
      - '19'
      - '6'
      - '6'
      X-Ratelimit-Remaining:
      - '105455'
      - '2294'
      - '4494'
      - '8781'
      X-Ratelimit-Reset:
      - '1587460200'
      - '1587461100'
      - '1587462900'
      - '1587545640'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"79093671","Tag":null,"CreationDate":1587459356,"AuthorId":"79093666","CreditedUserId":"79093668","DebitedFunds":{"Currency":"EUR","Amount":6528770000},"CreditedFunds":{"Currency":"EUR","Amount":6528770000},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"001011","ResultMessage":"Transaction
        amount is higher than maximum permitted amount","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"79093669","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":null,"ReturnURL":"http://localhost:3000/projects/1546/contributions/1283/validate?transactionId=79093671","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplateWidget?rp=df8de75349894ed1b065adfca0d2f0fc&transactionId=79093671","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Tue, 21 Apr 2020 08:55:56 GMT
recorded_with: VCR 5.1.0
