---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Roussel et Masson","Owners":["79172994"]}'
    headers:
      Authorization:
      - bearer a48bc41695994cafaef5a8a501be2167
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '16'
      - '25'
      - '55'
      - '59'
      X-Ratelimit-Remaining:
      - '105541'
      - '2284'
      - '4475'
      - '8745'
      X-Ratelimit-Reset:
      - '1587568200'
      - '1587569100'
      - '1587570900'
      - '1587653640'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Roussel et Masson","Owners":["79172994"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79172998","Tag":null,"CreationDate":1587567314}'
  recorded_at: Wed, 22 Apr 2020 14:55:14 GMT
recorded_with: VCR 5.1.0
