---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/users/natural
    body:
      encoding: UTF-8
      string: '{"Email":"dario_veum@mcclure.co","FirstName":"Benjamin","LastName":"Thomas","Nationality":"FR","CountryOfResidence":"FR","Birthday":-98586000}'
    headers:
      Authorization:
      - bearer fe74e487f1c74f7694d9e79f848d3326
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '8'
      - '8'
      - '8'
      - '86'
      X-Ratelimit-Remaining:
      - '105514'
      - '2292'
      - '4492'
      - '8792'
      X-Ratelimit-Reset:
      - '1587585540'
      - '1587586440'
      - '1587588240'
      - '1587670980'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Benjamin","LastName":"Thomas","Birthday":-98586000,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"dario_veum@mcclure.co","KYCLevel":"LIGHT","Id":"79183865","Tag":null,"CreationDate":1587584696}'
  recorded_at: Wed, 22 Apr 2020 19:44:56 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"79183865","CreditedWalletId":"79183864","CardType":"CB_VISA_MASTERCARD","Culture":"FR","DebitedFunds":{"Currency":"EUR","Amount":9829703500},"Fees":{"Currency":"EUR","Amount":0},"ReturnURL":"http://localhost:3000/projects/2225/contributions/validate"}'
    headers:
      Authorization:
      - bearer fe74e487f1c74f7694d9e79f848d3326
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '87'
      - '9'
      - '9'
      - '9'
      X-Ratelimit-Remaining:
      - '105513'
      - '2291'
      - '4491'
      - '8791'
      X-Ratelimit-Reset:
      - '1587585540'
      - '1587586440'
      - '1587588240'
      - '1587670980'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"79183867","Tag":null,"CreationDate":1587584697,"AuthorId":"79183865","CreditedUserId":"79183862","DebitedFunds":{"Currency":"EUR","Amount":9829703500},"CreditedFunds":{"Currency":"EUR","Amount":9829703500},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"001011","ResultMessage":"Transaction
        amount is higher than maximum permitted amount","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"79183864","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":null,"ReturnURL":"http://localhost:3000/projects/2225/contributions/validate?transactionId=79183867","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplateWidget?rp=450ef2fb33d04845ae42f57239df74bb&transactionId=79183867","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Wed, 22 Apr 2020 19:44:57 GMT
recorded_with: VCR 5.1.0
