---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic NTk0MzpzRTJ3VnFrb2lHa0hBOEVYYkw5OTFKS0x6eENRTTMyTnNjRVFoWmFYc1hvY2Q1eGJPZA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"6eae21b9180a4c628f64839e9bd77934","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 23 Apr 2020 17:20:16 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/users/natural
    body:
      encoding: UTF-8
      string: '{"Email":"michale@leannondurgan.info","FirstName":"Alicia","LastName":"Simon","Nationality":"FR","CountryOfResidence":"FR","Birthday":720831600}'
    headers:
      Authorization:
      - bearer 6eae21b9180a4c628f64839e9bd77934
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '104'
      - '158'
      - '76'
      - '92'
      X-Ratelimit-Remaining:
      - '105442'
      - '2224'
      - '4408'
      - '8696'
      X-Ratelimit-Reset:
      - '1587663300'
      - '1587664200'
      - '1587666000'
      - '1587748740'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Alicia","LastName":"Simon","Birthday":720831600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"michale@leannondurgan.info","KYCLevel":"LIGHT","Id":"79239314","Tag":null,"CreationDate":1587662416}'
  recorded_at: Thu, 23 Apr 2020 17:20:16 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Mercier SA","Owners":["79239314"]}'
    headers:
      Authorization:
      - bearer 6eae21b9180a4c628f64839e9bd77934
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '105'
      - '159'
      - '77'
      - '93'
      X-Ratelimit-Remaining:
      - '105441'
      - '2223'
      - '4407'
      - '8695'
      X-Ratelimit-Reset:
      - '1587663300'
      - '1587664200'
      - '1587666000'
      - '1587748740'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Mercier SA","Owners":["79239314"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79239315","Tag":null,"CreationDate":1587662416}'
  recorded_at: Thu, 23 Apr 2020 17:20:16 GMT
recorded_with: VCR 5.1.0
