---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/users/natural
    body:
      encoding: UTF-8
      string: '{"Email":"samatha@quitzon.net","FirstName":"Alice","LastName":"Roux","Nationality":"FR","CountryOfResidence":"FR","Birthday":902613600}'
    headers:
      Authorization:
      - bearer 54fcee3a8aee4172b625fb59e3daa42e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '10'
      - '10'
      - '137'
      - '8'
      X-Ratelimit-Remaining:
      - '105463'
      - '2292'
      - '4490'
      - '8790'
      X-Ratelimit-Reset:
      - '1587457560'
      - '1587458460'
      - '1587460260'
      - '1587543000'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Alice","LastName":"Roux","Birthday":902613600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"samatha@quitzon.net","KYCLevel":"LIGHT","Id":"79091063","Tag":null,"CreationDate":1587456711}'
  recorded_at: Tue, 21 Apr 2020 08:11:51 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Colin SEM","Owners":["79091064"]}'
    headers:
      Authorization:
      - bearer 54fcee3a8aee4172b625fb59e3daa42e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '10'
      - '12'
      - '12'
      - '139'
      X-Ratelimit-Remaining:
      - '105461'
      - '2290'
      - '4488'
      - '8788'
      X-Ratelimit-Reset:
      - '1587457560'
      - '1587458460'
      - '1587460260'
      - '1587543000'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Colin SEM","Owners":["79091064"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79091065","Tag":null,"CreationDate":1587456712}'
  recorded_at: Tue, 21 Apr 2020 08:11:52 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"79091063","CreditedWalletId":"79091065","CardType":"CB_VISA_MASTERCARD","Culture":"FR","DebitedFunds":{"Currency":"EUR","Amount":65006287},"Fees":{"Currency":"EUR","Amount":0},"ReturnURL":"http://localhost:3000/projects/736/contributions/635/validate"}'
    headers:
      Authorization:
      - bearer 54fcee3a8aee4172b625fb59e3daa42e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '11'
      - '13'
      - '13'
      - '140'
      X-Ratelimit-Remaining:
      - '105460'
      - '2289'
      - '4487'
      - '8787'
      X-Ratelimit-Reset:
      - '1587457560'
      - '1587458460'
      - '1587460260'
      - '1587543000'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"79091066","Tag":null,"CreationDate":1587456712,"AuthorId":"79091063","CreditedUserId":"79091064","DebitedFunds":{"Currency":"EUR","Amount":65006287},"CreditedFunds":{"Currency":"EUR","Amount":65006287},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"001011","ResultMessage":"Transaction
        amount is higher than maximum permitted amount","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"79091065","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":null,"ReturnURL":"http://localhost:3000/projects/736/contributions/635/validate?transactionId=79091066","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplateWidget?rp=c3487948edf54a30abd12ba29e596eb7&transactionId=79091066","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Tue, 21 Apr 2020 08:11:52 GMT
recorded_with: VCR 5.1.0
