---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic NTk0MzpzRTJ3VnFrb2lHa0hBOEVYYkw5OTFKS0x6eENRTTMyTnNjRVFoWmFYc1hvY2Q1eGJPZA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"d619f7bead1446c29445458db2e10f41","token_type":"bearer","expires_in":1199}'
  recorded_at: Mon, 20 Apr 2020 12:45:39 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/users/natural
    body:
      encoding: UTF-8
      string: '{"Email":"rafael@hegmann.info","FirstName":"Benjamin","LastName":"Maillard","Nationality":"FR","CountryOfResidence":"FR","Birthday":128300400}'
    headers:
      Authorization:
      - bearer d619f7bead1446c29445458db2e10f41
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '14'
      - '2'
      - '39'
      - '4'
      X-Ratelimit-Remaining:
      - '105561'
      - '2298'
      - '4496'
      - '8786'
      X-Ratelimit-Reset:
      - '1587387600'
      - '1587388500'
      - '1587390300'
      - '1587473040'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Benjamin","LastName":"Maillard","Birthday":128300400,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"rafael@hegmann.info","KYCLevel":"LIGHT","Id":"79049070","Tag":null,"CreationDate":1587386739}'
  recorded_at: Mon, 20 Apr 2020 12:45:40 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Breton et Dumont","Owners":["79049075"]}'
    headers:
      Authorization:
      - bearer d619f7bead1446c29445458db2e10f41
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '16'
      - '4'
      - '41'
      - '6'
      X-Ratelimit-Remaining:
      - '105559'
      - '2296'
      - '4494'
      - '8784'
      X-Ratelimit-Reset:
      - '1587387600'
      - '1587388500'
      - '1587390300'
      - '1587473040'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Breton et Dumont","Owners":["79049075"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79049077","Tag":null,"CreationDate":1587386740}'
  recorded_at: Mon, 20 Apr 2020 12:45:40 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"79049070","CreditedWalletId":"79049077","CardType":"CB_VISA_MASTERCARD","Culture":"FR","DebitedFunds":{"Currency":"EUR","Amount":2709279800},"Fees":{"Currency":"EUR","Amount":0},"ReturnURL":"http://localhost:3000/projects/460"}'
    headers:
      Authorization:
      - bearer d619f7bead1446c29445458db2e10f41
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '17'
      - '42'
      - '5'
      - '7'
      X-Ratelimit-Remaining:
      - '105558'
      - '2295'
      - '4493'
      - '8783'
      X-Ratelimit-Reset:
      - '1587387600'
      - '1587388500'
      - '1587390300'
      - '1587473040'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"79049079","Tag":null,"CreationDate":1587386740,"AuthorId":"79049070","CreditedUserId":"79049075","DebitedFunds":{"Currency":"EUR","Amount":2709279800},"CreditedFunds":{"Currency":"EUR","Amount":2709279800},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"001011","ResultMessage":"Transaction
        amount is higher than maximum permitted amount","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"79049077","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":null,"ReturnURL":"http://localhost:3000/projects/460?transactionId=79049079","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplateWidget?rp=6563b244b3814221bd648e13dacb0e79&transactionId=79049079","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Mon, 20 Apr 2020 12:45:40 GMT
recorded_with: VCR 5.1.0
