---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Lecomte et Mercier","Owners":["79183862"]}'
    headers:
      Authorization:
      - bearer fe74e487f1c74f7694d9e79f848d3326
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '7'
      - '7'
      - '7'
      - '85'
      X-Ratelimit-Remaining:
      - '105515'
      - '2293'
      - '4493'
      - '8793'
      X-Ratelimit-Reset:
      - '1587585540'
      - '1587586440'
      - '1587588240'
      - '1587670980'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Lecomte et Mercier","Owners":["79183862"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79183864","Tag":null,"CreationDate":1587584695}'
  recorded_at: Wed, 22 Apr 2020 19:44:55 GMT
recorded_with: VCR 5.1.0
