---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/users/natural
    body:
      encoding: UTF-8
      string: '{"Email":"lulu@dicki.name","FirstName":"Antoine","LastName":"Da silva","Nationality":"FR","CountryOfResidence":"FR","Birthday":-258339600}'
    headers:
      Authorization:
      - bearer d335fec7316d4efb99902d8a38fb4c0a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '11'
      - '11'
      - '150'
      - '24'
      X-Ratelimit-Remaining:
      - '105450'
      - '2289'
      - '4489'
      - '8776'
      X-Ratelimit-Reset:
      - '1587460260'
      - '1587461160'
      - '1587462960'
      - '1587545700'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Antoine","LastName":"Da
        silva","Birthday":-258339600,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"lulu@dicki.name","KYCLevel":"LIGHT","Id":"79093681","Tag":null,"CreationDate":1587459360}'
  recorded_at: Tue, 21 Apr 2020 08:56:00 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/wallets
    body:
      encoding: UTF-8
      string: '{"Currency":"EUR","Description":"Chevalier EI","Owners":["79093682"]}'
    headers:
      Authorization:
      - bearer d335fec7316d4efb99902d8a38fb4c0a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '13'
      - '13'
      - '152'
      - '26'
      X-Ratelimit-Remaining:
      - '105448'
      - '2287'
      - '4487'
      - '8774'
      X-Ratelimit-Reset:
      - '1587460260'
      - '1587461160'
      - '1587462960'
      - '1587545700'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"Chevalier EI","Owners":["79093682"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"79093683","Tag":null,"CreationDate":1587459361}'
  recorded_at: Tue, 21 Apr 2020 08:56:01 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/5943/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"79093681","CreditedWalletId":"79093683","CardType":"CB_VISA_MASTERCARD","Culture":"FR","DebitedFunds":{"Currency":"EUR","Amount":90527493},"Fees":{"Currency":"EUR","Amount":0},"ReturnURL":"http://localhost:3000/projects/1566/contributions/1289/validate"}'
    headers:
      Authorization:
      - bearer d335fec7316d4efb99902d8a38fb4c0a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0: Wed Sep 25 20:18:50 PDT 2019;
        root:xnu-6153.11.26~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '14'
      - '14'
      - '153'
      - '27'
      X-Ratelimit-Remaining:
      - '105447'
      - '2286'
      - '4486'
      - '8773'
      X-Ratelimit-Reset:
      - '1587460260'
      - '1587461160'
      - '1587462960'
      - '1587545700'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"79093684","Tag":null,"CreationDate":1587459362,"AuthorId":"79093681","CreditedUserId":"79093682","DebitedFunds":{"Currency":"EUR","Amount":90527493},"CreditedFunds":{"Currency":"EUR","Amount":90527493},"Fees":{"Currency":"EUR","Amount":0},"Status":"FAILED","ResultCode":"001011","ResultMessage":"Transaction
        amount is higher than maximum permitted amount","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"79093683","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":null,"ReturnURL":"http://localhost:3000/projects/1566/contributions/1289/validate?transactionId=79093684","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplateWidget?rp=84a959e8eba5415db3638e37180792bd&transactionId=79093684","CardType":"CB_VISA_MASTERCARD","Culture":"FR","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Tue, 21 Apr 2020 08:56:02 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/5943/payins/79093684
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer d335fec7316d4efb99902d8a38fb4c0a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.2 p47 (2019-03-13)","platform":"x86_64-darwin19","uname":"Darwin
        pc64.home 19.0.0 Darwin Kernel Version 19.0.0[...]
