
<div class="card border-primary mb-3 sm-3">
  <div class="card-header">
    <a href='<%= project_path(project) %>'><%= project.name %></a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Completion : <%= percent_print(project.completion) %></h4>
    <%= render 'completion', project: project %>
  </div>
</div>
