
  <div class="card border">
    <div class='card-header flex-row d-flex justify-content-between align-items-center'>
      <div>
        <a href='<%= project_path(project) %>'><%= project.name %></a>
      </div>
      <div>
        <%= render 'badge', state: project.aasm_state %>
      </div>
    </div>
    <div class="card-body">
      <%= render 'completion', project: project %>
    </div>
  </div>
