
  <div class="card border">
    <div class="card-header">
      <%= link_to project.name, project_path(project) %>
    </div>
    <div class="card-body">
      <h4 class="card-title">Completion : <%= percent_print(project.completion) %></h4>
      <%= render 'completion', project: project %>
    </div>
  </div>
