
  <div class="card border">
    <div class="card-header">
      <a href='<%= project_path(project) %>'><%= project.name %></a>
    </div>
    <div class="card-body">
      <%= render 'completion', project: project %>
    </div>
  </div>
