
  <div class="card border">
    <div class='card-header flex-row d-flex justify-content-between align-items-center'>
      <div>
        <%= link_to project.name, project_path(project) %>
      </div>
      <div>
        <%= render 'badge', state: project.aasm_state %>
      </div>
    </div>
    <div class="card-body">
      <%= render 'completion', project: project %>
    </div>
  </div>
