<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated"
    role="progressbar"
    aria-valuenow="<%= project.completion * 100 %>"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: <%= project.completion * 100 %>%"></div>
</div>
