.float-left {
  float: left;
}
.float-right {
  float: right;
}

.container {
  &.main {
    padding-top: 20px;
  }
}

img {
  width:100%;
}

.navbar {
  a {
    text-decoration-line: none;
  }
}

.card-header {
  position: relative;
  overflow: hidden;
  height: 200px;
}

a {
  color: #1859bc
}

.profile-container {
  background: white;
  padding: 1px;
  max-width: 25%;
  position: absolute;
  bottom: 10px;
  left: 25px;
}

.category-list {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card-img-overlay {
  background: rgb(255,255,255);
  background: linear-gradient(180deg,
  rgba(255,255,255,0.9) 0%,
  rgba(255,255,255,0.6) 18%,
  rgba(255,255,255,0) 38%,
  rgba(255,255,255,0) 100%);
}

.reward-card {
  h4 {
    color: #c06b6b;
  }
  background-color: rgb(240, 240, 240)
}

a.btn-success {
  color: white !important;
}
