.float-left {
  float: left;
}
.float-right {
  float: right;
}

.main {
  &.container {
    padding-top: 20px;
  }
}

img {
  width:100%;
}

.navbar {
  a {
    text-decoration-line: none;
  }
}

.card-header {
  position: relative;
  overflow: hidden;
  height: 200px;
}

a {
  color: #1859bc
}

.card-img-overlay {
  background: rgb(255,255,255);
  background: linear-gradient(180deg,
  rgba(255,255,255,0.9) 0%,
  rgba(255,255,255,0.6) 18%,
  rgba(255,255,255,0) 38%,
  rgba(255,255,255,0) 100%);
}
