.float-left {
  float: left;
}
.float-right {
  float: right;
}

.main {
  &.container {
    padding-top: 20px;
  }
}

img {
  width:100%;
}

form {
  input[type=date] {
    &.form-control.user_form {
      width: calc(80% - 22px);
    }
  }
  select{
    &.form-control.user_form {
      width: calc(80% - 22px);
    }
  }
}

.full-width {
  width: 100% !important;
}

.navbar {
  a {
    text-decoration-line: none;
  }
}
